html {
    box-sizing: border-box;
}

body {
  width: 100%;
  text-align: center;
  /*font-size: 14px;*/
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
  margin: 0;
}

/* Размер изображения (по ширине 100%) */
img {
  max-width: 100%;
}

/* Псевдоэлемент - распорка */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background-color: #0088cc;
}

/* Стили для шрифтов */
.main-title {
  color: white;
  font-size: 32px;
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.container-guide-title {
  margin-top: 32px;
}

.guide-title {
  font-size: 20px;
  margin-top: 32px;
}

.image-title {
  color: #708090;
  font-weight: normal;
  font-size: 15px;
}



/* Блок-обертка основного содержимого страницы -
инструкций для Android и IOS устройств
* Включает .container-guide */
.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Обертка для конкретных инструкций - "Установка",
"Регистрация", "Подключение" */
.container-guide {
  width: 100%;
  margin: 0 auto;
}

.install-guide,
.registration-guide,
.connect-guide {
  width: 90%;
  margin: 0 auto;
}

.image-block {
  margin-top: 15px;
}

/* Размер шрифта для примечаний в параграфе - чтобы не было мелко */
.remark {
  font-size: 16px;
}

.feedback-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* feedback Content */
.feedback-content {
    position: fixed;
    /*margin: 0 auto;*/
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.feedback-header {
    padding: 2px 16px;
    background-color: #0088cc;
    color: white;
}

.feedback-body {
  margin: 0 auto;
  width: 450px;
}

.feedback-form {
  width: 420px;
  background: #fff;
}

.feedback-form input {
  width: 95%;
  padding: 5px 2%;
  margin: 10px 0;
}

/*.message {
  width: 90%;
  height: 50px;
}*/


input[type="text"],
input[type="email"] {
  font: 14px arial,sans-serif;
  line-height: 30px;
  border: 1px solid #aaa;
  padding: 4px 8px;
}

select[name="country-code"] {
  height: 30px;
  width: 18%;
}

input[name="phone"] {
  line-height: 30px;
  width: 76%;
}

textarea[name="text"] {
  width: 400px;
  height: 100px;
  padding: 5px 2%;
  margin: 10px 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea[name="text"]:focus {
  font: 14px arial,sans-serif;
  line-height: 30px;
  border: 1px solid #000;
}

.send-btn,
.feedback-btn {

  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #0088cc; /* фон кнопки */
  margin-top: 30px;
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}

.main-footer {
  background-color: #0088cc;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-copyright {
  color: white;
  font-size: 14px;

}



/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/* Медиа запрос для разрешения 500px поширине
(фаблеты, мобильные - горизонтальная ориентация) */
@media (min-width: 500px) {
  /* Блок изображения img и заголовка изображения .image-title */
  .image-block {
    float: left;
    max-width: 45%;
    margin-right: 20px;
  }
  .image-title {
    min-height: 70px;
  }
}

/* Медиа запрос для разрешения 768px поширине
(планшеты) */
@media (min-width: 768px) {
  .main-container {
    width: 738px;
  }
}

/* Медиа запрос для разрешения 992px поширине
(средние экраны) */
@media (min-width: 992px) {
  .main-container {
    width: 962px;
  }
  .image-block {
    max-width: 30%;
  }
}

/* Медиа запрос для разрешения 1280px поширине (большие экраны) */
@media (min-width: 1280px) {
  .main-container {
    width: 1250px;
  }
  .image-block {
    max-width: 20%;
  }
}
