body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
}

img{
  max-width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-guide {
  width: 100%;
  margin: auto;
}

.container-guide p {
  font-size: 14px;
}

.install-guide, .registration-guide, .connect-guide {
  width: 90%;
  margin: 0 auto;
}

.guide-block {
  margin: 0 auto;
}

.block-title {
  font-size: 16px;
}

/*@media (min-width: 480px) {
  .main-container {
    width: 100%;
  }
  .guide-block {
    max-width: 45%;
  }
}*/

.guide-block:nth-child(1) {
  color: red;
}

@media (min-width: 500px) {
  .guide-block {
    max-width: 45%;
    float: left;
    margin-right: 20px;
  }
  .block-title {
    min-height: 60px;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 970px;
  }
  .guide-block {
    max-width: 30%;
  }
}

@media (min-width: 1280px) {
  .main-container {
    width: 1240px;
  }
  .guide-block {
    max-width: 20%;
  }
}
